<html>
<head>
	<title></title>
</head>
<body>

<html>
<head>
	<title>Administration Photo Dashboard</title>
	<script type="text/javascript">
		$(document).ready(function(){
    var preview = $(".upload-preview img")

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
           preview.attr('width', '300px');
           preview.attr('height', '300px');
       };
       reader.readAsDataURL(file);
    });
});


</script>

<style type="text/css">
		body{
	background-color: black;
	color: orange;
}
		.upload-preview{
			margin: 0 auto;
			width: 300px;
			height: 300px;

		}
		
		.pic3Box{
			height: 400px;
			border: 1px solid white;
		}
			.currentPicSix{
				height: 250px;
			}
			.lineBreaker{
				margin: 2px;
				border-bottom: 1px solid white;
			}
			.positionTaker{
				width: 50px;

			}
		.redTrash{
			background-color: red;
			color: white;
		}

</style>
</head>
<% if session[:loggedIn] == true then %>
<body>
	<!-- menuColumn -->
	<div class='col-md-2 col-xs-6 col-xs-offset-3 col-md-offset-0' id='leftColumn'>
		
			<a href='/admin_reviews' class='navLink'><div class='menuList col-xs-12 menuText menuShadow' id='menu_review'>Reviews (<%=@reviewCount%>)</div></a>
			<a href='/admin_food' class='navLink'><div class='menuList col-xs-12 menuText menuShadow' id='menu_food'>Food</div></a>
			<a href='/admin_drinks' class='navLink'><div class='menuList col-xs-12 menuText menuShadow' id='menu_drinks'>Drinks</div></a>
			<a href='/admin_photos' class='navLinkOn'><div class='menuList col-xs-12 menuText' id='menu_photos'>Photos</div></a>
			<a href='/admin_abouts' class='navLink'><div class='menuList col-xs-12 menuText menuShadow' id='menu_about'>About</div></a>
			<a href='/landings' class='navLink'><div class='menuList col-xs-12 menuText menuShadow' id='menu_logout'>Log Out</div></a>
 		
	</div>
	<!-- End menuColumn -->
	<div class='col-md-9 col-xs-12' id='rightColumn'>
		
		<!-- displayRow -->
		<div class='row' id='displayRow'>

			<!-- Display Current Photos -->
				<div class='col-xs-12' id='photosDisplay'>
					<h3 class='centerText'>Currently Photos Displayed On Site</h3>
					<% @allPhotos.each do |photo| %>
					<div class='col-xs-3 photoFrame'>
						<p class='centerText' style='text-decoration:underline'>#<%= photo.id %></p>
						<p class='centerText photoSpace'><%= image_tag photo.avatar.url(:thumb) %></p>
						<p class='centerText photoCaption'><%= photo.caption %></p>
						<form class='centerText' action='admin_photos/<%=photo.id%>' method='DELETE'>
							<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
							<input type='hidden' name='photo_id' value='<%=photo.id%>'>
							<button type='submit' class='redTrash'><i class="fa fa-trash-o"></i></button>
						</form>
					</div>
					<% end %>
				</div>
			<!-- End Display Current Photos -->
		</div>

		<!-- End displayRow -->
		

		<!-- Display 3 Pics Front/Back -->
		<div class='col-xs-12 adminAbouts'>
			<h3 class='centerText'>*3 Picture Columns*</h3>
			<h4 class='centerText'>(Front/Back)</h4>
			
			<% 	$idx = 0 %>
			<%	$max = 6 %>
			<%	while $idx < $max do %>
				<div class='col-xs-4 pic3Box'>
					<h3 class='centerText'><%= @layoutTitles[$idx] %> </h3>
					<div class='lineBreaker'></div>						
					<% @picSix.each do |picture| %>
						<% if picture.position == ($idx+1).to_s then%>
							<div class='currentPicSix centerText'>
								<%= image_tag picture.avatar.url(:small) %>
							</div>
							<div class='lineBreaker'></div>
							<h4 class='centerText'>New Photo Upload</h4>
						<% end %>
					<% end %>

					<form action='/admin_photos/<%= ($idx+1) %>/edit' method='GET' class='centerText'>
						<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
						<input type='text' name='newPhotoID' placeholder='Enter New Photo ID #'>
						<input type='submit' value='Update'>
					</form>
				</div>
				<% $idx += 1 %>
			<% end %>
		</div>
		<!-- END Display 3 Pics Front/Back -->


		<!-- Display 3 Polaroid Pics -->
		<div class='col-xs-12 adminAbouts'>
			<h3 class='centerText'>*3 Polaroid Pictures*</h3>
			
			<% 	$idx = 0 %>
			<%	$max = 3 %>
			<%	while $idx < $max do %>
				<div class='col-xs-4 pic3Box'>
					<h3 class='centerText'><%= @polaroidTitles[$idx] %> </h3>
					<div class='lineBreaker'></div>						
					<% @picThree.each do |picture| %>
						<% if picture.polaroid == ($idx+1) then%>
							<div class='currentPicSix centerText'>
								<%= image_tag picture.avatar.url(:small) %>
							</div>
							<div class='lineBreaker'></div>
							<h4 class='centerText'>New Photo Upload</h4>

					<form action='/polaroid/<%=picture.id%>' method='GET' class='centerText'>
						<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
						<input type='hidden' name='polaroidID' value='<%= $idx+1 %>'>
						<input type='text' name='newPhotoID' placeholder='Enter New Photo ID #'>
						<input type='submit' value='Update'>
					</form>
						<% end %>
					<% end %>
				</div>
				<% $idx += 1 %>
			<% end %>
		</div>
		<!-- END Display 3 Polaroid Pics -->




		<!-- Add New Photo formRow -->
		<div class='row col-sm-6 col-sm-offset-3 col-xs-12' id='formRow'>
			<!-- Photo Form -->
			<div id='photosForm'>
				<h3 class='centerText'>Add A New Photo To The Album</h3>
				<div class="upload-preview">
    				<img />
				</div>
				<div class='col-xs-12' id='photosForm'>
					<form action='/admin_photos' method='post' enctype="multipart/form-data"> 
						<input type='text' name='picture[caption]' placeholder='Enter caption here'>
						<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
						<input type='hidden' name='picture[position]' value='0'>
						<input type='file' name='picture[avatar]' class='file' id='image'>
						<input type='submit' class='btn-submit'>
					</form>
				</div>
			</div>
		</div>
		<!-- End Add New Photo formRow -->
	</div>

</body>
<% end %>
</html>


</body>
</html>